h2{
  text-align: center;
  padding: 25px;
}

.container{
  display: flex;
  background: indianred;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 10%;
  border-radius: 17px;
}

select{
  margin: 10px;
}

#select-courses{
  /* height: 150px; */
  width: 180px;
}

#table{
  width: 90%;
  margin: 5%;
  text-align: left;
}


#add-button{
  background: darkred;
}

